.afi__navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem 0rem;
}

.afi__navbar--links {
    flex: 1;
    display: flex;
    flex-direction: row;

    gap: 5em;
    max-width: 1350px;
    font-weight: bold;
}

.afi__navbar--links p, .afi__navbar--links a {
    color: black;
}